<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>

    <ul style="list-style: none; display: flex;">
        <li style="margin-right: 10px;"><a href="/">home</a></li>
        <li style="margin-right: 10px;"><a href="/about">about</a></li>
        <li style="margin-right: 10px;"><a href="/service">services</a></li>
        <li style="margin-right: 10px;"><a href="/blog">blog</a></li>
        <li style="margin-right: 10px;"><a href="/contact">contact</a></li>
    </ul>

    <h1>Home page</h1>
</body>
</html>